# ignore folders
/logs*/**/*
/deprecated/**/*
/models/**/*
/plots/**/*
/tomls/**/*
/libVoodoo/plots/**/*
libVoodoo/.DS_Store
__pycache__/**/*
/**/__pycache__/**/*
/**/.ipynb_checkpoints/**/*
/voodoo.egg-info/
voodoo_deprJan2021/**/*
build/**/*
data/**/*
dist/**/*
nc-files/**/*
/**/*.sh

*.zip
*.py~
*.json
*.pyc
*.swp
.gitignore~
*DS_Store*
.idea/
venv/
**/__pycache__/**/*
libVoodoo/__pycache__/*
data*/
#example_data/*
torch_models/


# ignore files
training*
nohup*
*png*


Voodoo/*.png

