<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> {{ case_study_info["case_name"] }}</title>
    <style type="text/css">
    .table-cell {
        height: 280px;
    }
    img {
        height: inherit;
        width: auto;
    }
    h1 {
        font-family: sans-serif;
    }
    </style>
</head>
<body>
    <div style="max-width: 1100px;  margin: auto;  overflow: hidden;  white-space: nowrap;">
        <div style="max-width: 800px; margin: auto;">
            <h1>Case: {{ case_study_info["case_name"] }}</h1>
            <span>location: {{ case_study_info['location'] }} </span><br/>
            <span>time:     {{ case_study_info['time_interval']|join(' ') }} [UTC]</span><br/>
            <span>range:    {{ case_study_info['range_interval']|join(' ') }} [m]</span>
            {% if 'comment' in case_study_info %}
              <br/><span>comment: {{ case_study_info['comment'] }} </span>
            {% endif %}

            {% if 'link' in case_study_info %}
            <br/><a href="{{ case_study_info['link'] }}">LARDA explorer</a>
            {% endif %}
        </div>
        <p> </p>

        <h2><b>Hydrometeor Classification</b></h2>
        <table>
            <!-- Start with cloudnet classification/products -->
            <tr><td>Cloudnet Target Classification <i>Python-Ceilometer</i></td><td>Cloudnet Target Classification <i>Matlab-Polly<sup>XT</sup></i></td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['CLOUDNETpy94-CLASS'] }}" alt="cloudnet_classification_python" /></td>
                <td class="table-cell"><img src="{{ png_names['CLOUDNET_LIMRAD-CLASS'] }}" alt="cloudnet_classification_matlab" /></td>
            </tr>

            <tr><td>Conv2D Cloud Radar Spectra <i>stand-alone</i> Classifier </td><td>Cloudnet Classification merged with Conv2D Spectra Classifier</td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['prediction_PPoff'] }}" alt="neural_network_prediction" /></td>
                <td class="table-cell"><img src="{{ png_names['prediction_PPon'] }}" alt="neural_network_prediction" /></td>
            </tr>

            <tr><td>Cloudnet Detection Status <i>Python-Ceilometer</i></td><td>Cloudnet Detection Status <i>Matlab-Polly<sup>XT</sup></i></td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['CLOUDNETpy94-detection_status'] }}" alt="cloudnet_detection_status_python" /></td>
                <td class="table-cell"><img src="{{ png_names['CLOUDNET_LIMRAD-detection_status'] }}" alt="cloudnet_detection_status_matlab" /></td>
            </tr>
        </table>

        <h2><b>Cloudnet Resolution (30sec/30m) Cloud Radar Doppler Spectra Moments</b></h2>
        <table>
            <tr><td>Cloudnet Radar Reflectivity</td><td>PollyNET 355-nm Attenuated Backscatter Coefficient</td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['Z'] }}" alt="cloudnet_radar_reflectivity" /></td>
                <td class="table-cell"><img src="{{ png_names['attbsc355'] }}" alt="pollynet_attbsc355" /></td>
            </tr>

            <tr><td>Cloudnet Radar Mean Doppler Velocity</td><td>PollyNET 532-nm Attenuated Backscatter Coefficient</td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['VEL'] }}" alt="cloudnet_mean_doppler_velocity" /></td>
                <td class="table-cell"><img src="{{ png_names['attbsc532'] }}" alt="pollynet_attbsc532" /></td>
            </tr>

            <tr><td>Cloudnet Radar Spectrum Width</td><td>PollyNET 1064-nm Attenuated Backscatter Coefficient</td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['width'] }}" alt="cloudnet_spectrum_width" /></td>
                <td class="table-cell"><img src="{{ png_names['attbsc1064'] }}" alt="pollynet_attbsc1064" /></td>
            </tr>

            <tr><td>Cloudnet Radar Integrated Slanted Linear Depolarization Ratio</td><td>PollyNET 532-nm Calibrated Linear Volume Depolarization</td></tr>
            <tr>
                <td class="table-cell"><img src="{{ png_names['LDR'] }}" alt="cloudnet_linear_depolarisation_ratio" /></td>
                <td class="table-cell"><img src="{{ png_names['voldepol532'] }}" alt="pollynet_depol532" /></td>
            </tr>

        </table>
        <p> </p>

             <table style="width:100%">
              <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
              </tr>
            </table>


            <tr><td class="table-cell">
                {{ case_study_info['html_params'] }}
            </td></tr>

        <div style="max-width: 800px; margin: auto;">


        {% for key, value in png_names.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}

        </div>

    </div>

</body>
</html>
